html, body, #__blaze-root, #accumulated-rainfall-map {
  width: 100%;
  height: 100%;
}

#accumulated-rainfall-dialog {

  max-width: 90%;
  width: auto;

  .mdl-dialog__content {
    /*overflow: auto;*/
  }
}