#navA{
	
}

.mdl-layout__tab-bar-button{
	background-color: #396834;
}

.my-header {
  justify-content: flex-end !important;
}

.navClass {
	height: 100px;
}

#home-link, #about-us-link, #explore-link, #planning-dates-link, #dss-link, #get-involved-link, #sublinkclass {
	color: #9C9C9A;
	font-size: 15px;
}

#home-link:hover, #about-us-link:hover, #explore-link:hover, #planning-dates-link:hover, #dss-link:hover, #get-involved-link:hover, #sublinkclass:hover, #home-link:active, #about-us-link:active, #explore-link:active, #planning-dates-link:active, #dss-link:active, #get-involved-link:active, #sublinkclass:active {
	color: #59B060;
	font-size: 15px;
	cursor: pointer;
	-webkit-transition: color 1s ease-out;
	-moz-transition: color 1s ease-out;
	-o-transition: color 1s ease-out;
	transition: color 1s ease-out;
}