.services-image {
	width: 98%;
	height: 60%;
}

a {
	text-decoration: none;
	color: #696968;
	text-weight: bold;
}

.servicessection {
	height: 400px;
}

.titleservices {
	text-weight: bold;
	color: #696968;
	text-decoration: none;
}

.maintitle {
	font-size: 30px;
}