.preview-controls {
  margin-top: 50px;
<<<<<<< db011ef3f21ff019438d32f138866499db71fb7e
  margin-bottom: 20px;
=======
>>>>>>> Started on BOM style weather preview on main page
  text-align: center;
}

.preview-controls .link {
  color: gray;
  font-size: 1.2em;
}

.preview-controls .pipe {
  font-size: 1.2em;
}