.cms-image-preview {
  width: 300px;
  height: auto;
}


/*Link Tables*/
.cms-header-link-name {
  font-weight: bold;
  color: #676a6c;
}

.cms-header-link-href {
  color: #676a6c;
}

.cms-header-sub-level-link {
  margin-top: 25px;
  margin-left: 25px;
}

.cms-header-link-actions {
  float: right;
}


/*BLOCK STYLES*/
.cms-block {
  background-color: white;
  border-top: 2px solid #E7EAEC;
  border-bottom: 2px solid #E7EAEC;
}

.cms-block-header {
  padding: 10px;
  border-bottom: 1px solid #E7EAEC;
  font-weight: bold;
  color: #676a6c;
  font-size: 1.3em;
}

.cms-disabled-status {
  color: #f79a20;
}

.cms-block-actions {
  text-align: right;
}

.cms-block-actions {

  button {

  }

}