.label{
	text-align: center;
	text-decoration: none;
	color: #696968;
	text-weight: bold;
}

#crop-list-id {
	margin: 2% 8% 2% 8%;
}

#crop-images-id {
	width: 60%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}